.SiteBar {
    background-color: aqua;
    padding: 20px 50px 0px 10px;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    height: auto;
    width: 200px;
}

ul li:last-child {
    margin: 20px 0px 0px 0px;
}

ul{
    list-style-type: none;
}
