.messagesContainer{
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 100%;
}

.dialogs{
    padding: 10px;
}
.dialog{
    color:rgb(42, 106, 165);
}
.messages{
    padding: 10px;
}
.message{
    color:burlywood
}